!!! transitional
html(xmlns='http://www.w3.org/1999/xhtml', dir='ltr', lang='en-US', xml:lang='en')
head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=EmulateIE7')
    title Camplight e-shop
    script(src='http://code.jquery.com/jquery-1.7.2.js', type='text/javascript')

    link(rel='stylesheet', href='/style/shop.css')
    script(src="/shop.js")

    script.
      function SetCookie(cookieName,cookieValue,nDays) {
        var today = new Date();
        var expire = new Date();
        if (nDays==null || nDays==0) nDays=1;
        expire.setTime(today.getTime() + 3600000*24*nDays);
        document.cookie = cookieName+"="+escape(cookieValue)
        + ";expires="+expire.toGMTString();
      }

    script.
      $(document).ready(function() {
        var pic_holder ='';
        pic_holder = '<img src="/images/guys_tshirt/3.png" width="280" height="280" />';
        document.getElementById("apDiv1").innerHTML = pic_holder;
        SetCookie('gender_color','Green t-shirt','1');
        SetCookie('gender_type','guys','1');
        SetCookie('logo_name','Camplight main logo','1');
      } );

    script.
      function girlsChangeTshirt(girls)
      {
        var x = "";
        var girls_holder = '<img src="/images/girls_tshirt/'+girls+'.png" width="280" height="280" />';
        document.getElementById("apDiv1").innerHTML = girls_holder;
        document.getElementById("apDiv4").style.top = "210px";
        document.getElementById("ghender_shirt").value = "girls";
        document.getElementById("color_shirt").value = girls+".png";
        switch (girls)
        {
        case '1':
        x="Red t-shirt";
        break;
        case '2':
        x="Pink t-shirt";
        break;
        case '3':
        x="Blue t-shirt";
        break;
        case '4':
        x="Yellow t-shirt";
        break;
        case '5':
        x="Black t-shirt";
        break;
        case '6':
        x="White t-shirt";
        break;
        }
        SetCookie('gender_color',x,'1');
        SetCookie('gender_type','girls','1');
      }

    script.
      function guysChangeTshirt(guys)
      {
        var z = "";
        var guys_holder = '<img src="/images/guys_tshirt/'+guys+'.png" width="280" height="280" />';
        document.getElementById("apDiv1").innerHTML = guys_holder;
        document.getElementById("apDiv4").style.top = "180px";
        document.getElementById("ghender_shirt").value = "guys";
        document.getElementById("color_shirt").value = guys+".png";
        switch (guys)
        {
        case '1':
        z="Yellow t-shirt";
        break;
        case '2':
        z="White t-shirt";
        break;
        case '3':
        z="Green t-shirt";
        break;
        case '4':
        z="Black t-shirt";
        break;
        case '5':
        z="Blue t-shirt";
        break;
        case '6':
        z="Burgundy t-shirt";
        break;
        }
        SetCookie('gender_color',z,'1');
        SetCookie('gender_type','guys','1');
      }

    script.
      function logoChangeTshirt(logo)
      {
        var y = "";
        var logo_holder = '<img src="/images/placed_logo/logo_'+logo+'.png" width="80" height="80" />';
        document.getElementById("apDiv4").innerHTML = logo_holder;
        document.getElementById("logo_shirt").value = logo+".png";
        switch (logo)
        {
        case '1':
        y="Camplight flames";
        break;
        case '2':
        y="Rubik's cube";
        break;
        case '3':
        y="Camplight main logo";
        break;
        case '4':
        y="Camplight url";
        break;
        case '5':
        y="Camplight QR code";
        break;
        }
        SetCookie('logo_name',y,'1');
      }

    script.
      function fillOrder()
      {
        TINY.box.show({iframe:'shop-requestform',boxid:'frameless',width:670,height:860,fixed:false,maskid:'bluemask',maskopacity:40,close:true});
      }

    link(rel='stylesheet', href='/javascript/tinybox2/bostyle.css')
    script(type='text/javascript', src='/javascript/tinybox2/tinybox.js')
    
    style.
      #apDiv1 {
        position: absolute;
        left: 301px;
        top: 128px;
        width: 280px;
        height: 280px;
        z-index: 1;
      }
      #apDiv2 {
        position: absolute;
        left: 2px;
        top: 1278px;
        width: 900px;
        height: 31px;
        z-index: 1;
      }

    style.
      #apDiv4 {
        position: absolute;
        left: 401px;
        top: 180px;
        width: 80px;
        height: 81px;
        z-index: 1;
      }
      .photo {
        width: 102px;
        height: 24px;
        display: block;
        position: absolute;
        background: url(images/pin.png) no-repeat;
        background-color:#3F6 inherit;
        z-index: 1;
      }

    //if IE 6
      link(rel='stylesheet', href='style.ie6.css', type='text/css', media='screen')
    //if IE 7
      link(rel='stylesheet', href='style.ie7.css', type='text/css', media='screen')
  body
    #art-page-background-gradient
    #art-main
      .art-Sheet
        .art-Sheet-cc
        .art-Sheet-body
          .art-Header
            .art-Header-jpeg
            .art-Logo
          .art-contentLayout
            .art-content
              .art-Post
                .art-Post-body
                  .art-Post-inner
                    table(width='860', border='0', align='center')
                      tr
                        td(width='225', align='center')
                          table(width='120', border='0')
                            tr
                              td(height='80', colspan='3', align='center')
                                img(src='/images/guys_label.png', width='110', height='68', alt='guys')
                            tr
                              td#1(style='cursor: pointer;', width='40', height='40', bgcolor='#eec126', onclick='guysChangeTshirt(this.id);')  
                              td#2(style='cursor: pointer;', width='40', height='40', bgcolor='#FFFFFF', onclick='guysChangeTshirt(this.id);')  
                              td#3(style='cursor: pointer;', bgcolor='#7c8f74', onclick='guysChangeTshirt(this.id);')  
                            tr
                              td#4(style='cursor: pointer;', width='40', height='40', bgcolor='#000000', onclick='guysChangeTshirt(this.id);')  
                              td#5(style='cursor: pointer;', width='40', height='40', bgcolor='#5a8cde', onclick='guysChangeTshirt(this.id);')  
                              td#6(style='cursor: pointer;', width='40', height='40', bgcolor='#803449', onclick='guysChangeTshirt(this.id);')  
                        td(width='380', align='center')
                          #apDiv1  
                          #apDiv4
                            img(src='/images/placed_logo/logo_3.png', width='80', height='80')
                          img(src='/images/pic_photo.png', width='376', height='494', alt='tshirt_holder')
                        td(width='228', align='center')
                          table(width='120', border='0')
                            tr
                              td(height='80', colspan='3', align='center')
                                img(src='/images/girls_label.png', width='110', height='65', alt='girl')
                            tr
                              td#1(style='cursor: pointer;', width='40', height='40', bgcolor='#fb0404', onclick='girlsChangeTshirt(this.id);')  
                              td#6(style='cursor: pointer;', width='40', height='40', bgcolor='#ffffff', onclick='girlsChangeTshirt(this.id);')  
                              td#3(style='cursor: pointer;', bgcolor='#5a8cde', onclick='girlsChangeTshirt(this.id);')  
                            tr
                              td#5(style='cursor: pointer;', width='40', height='40', bgcolor='#000000', onclick='girlsChangeTshirt(this.id);')  
                              td#2(style='cursor: pointer;', width='40', height='40', bgcolor='#eaafed', onclick='girlsChangeTshirt(this.id);')  
                              td#4(style='cursor: pointer;', width='40', height='40', bgcolor='#eec126', onclick='girlsChangeTshirt(this.id);')  
                    p  
                  .cleared
                .art-Post-body
                  .art-Post-inner
                    table(width='860', border='0', align='center')
                      tr
                        td#1(style='cursor: pointer;', width='172', align='center')
                          div
                            img#1(src='/images/onover_logo/logo_1.png', width='166', height='166', alt='logo1', onclick='logoChangeTshirt(this.id);')
                        td#2(style='cursor: pointer;', width='172', align='center')
                          img#2(src='/images/onover_logo/logo_2.png', width='166', height='166', alt='logo2', onclick='logoChangeTshirt(this.id);')
                        td#3(style='cursor: pointer;', width='172', align='center')
                          img#3(src='/images/onover_logo/logo_3.png', width='166', height='166', alt='logo3', onclick='logoChangeTshirt(this.id);')
                        td#4(style='cursor: pointer;', width='172', align='center')
                          img#4(src='/images/onover_logo/logo_4.png', width='166', height='166', alt='logo4', onclick='logoChangeTshirt(this.id);')
                        td#5(style='cursor: pointer;', width='172', align='center')
                          img#5(src='/images/onover_logo/logo_5.png', width='166', height='166', alt='logo5', onclick='logoChangeTshirt(this.id);')
                    p  
                    .cleared
                  .cleared
              .art-Post
                .art-Post-body
                  table(width='860', border='0', cellpadding='0', cellspacing='0')
                    tr
                      td(align='center')
                        img(src='/images/new_note.png', width='656', height='384', alt='note')
                    tr
                      td(align='center')  
                    tr
                      td(align='center')  
                    tr
                      td(align='center')  
                  .cleared
                  .art-Post-body(style='margin-top: -140px;')
                    table(width='860', border='0', align='center')
                      tr
                        td  
                        td(align='center')
                          input#btn-subm.art-button(name='btn-subm', type='button', value='ORDER NOW', onclick='fillOrder();')
                        td  
                      tr
                        td  
                        td  
                        td  
                      tr
                        td  
                        td  
                        td  
                    br
                    .cleared
                  .cleared
              br
              img(src='/images/spacer.png', width='898', height='30', alt='spacer')
          .cleared
          .art-Footer
            .art-Footer-inner
              table(width='860', border='0', align='center', cellpadding='0', cellspacing='0')
                tr
                  td(width='32')
                    a(href='https://twitter.com/#!/campenlightment', target='_blank')
                      img(src='/images/social_btn/twiter.png', width='32', height='32', alt='spacer')
                  td(width='32')
                    a(href='https://www.facebook.com/camplight', target='_blank')
                      img(src='/images/social_btn/facebook.png', width='32', height='32', alt='spacer')
                  td(width='32')
                    a(href='https://plus.google.com/u/0/108500234096758647082/about', target='_blank')
                      img(src='/images/social_btn/google.png', width='32', height='32', alt='spacer')
                  td(align='center')
                    .art-Footer-text
                      p(style='margin-left: -60px;')
                        a(href='#') Contact Us
                        | |
                        a(href='#') Terms of Use
                        | |
                        a(href='#') Trademarks
                        | |
                        a(href='#') Privacy Statement
                        br
                        | Copyright © 2012 Camplight ltd. All Rights Reserved.
              br
            .art-Footer-background
          .cleared
      .cleared
      p.art-page-footer
      input#ghender_shirt(type='hidden', value='none')
      input#color_shirt(type='hidden', value='none')
      input#logo_shirt(type='hidden', value='none')
