!!! 5
html
  head
    title Camplight Ltd.
    meta(charset='utf-8')
    meta(name='copyright', content='Camplight - open company')
    meta(name='author', content='Camplight')
    meta(name='keywords', content='open,source,company,software,hardware,freeware,technologies,freelancers,team,camplight')
    meta(name='description', content='Software and Hardware development company made by people for people')
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=yes")

    meta(property='og:url', content='http://camplight.net')
    meta(property='og:title', content='Camplight - open company')
    meta(property='og:description', content='Camplight is decentralized software company with flat heirarchy')
    meta(property='og:image', content='http://camplight.net/images/camplight-logo.png')

    link(rel='author', href='humans.txt')
    link(rel='shortcut icon', href='favicon.ico')
    link(rel='stylesheet', href='/style/jquery/jquery-ui.css')
    link(rel='stylesheet', href='/style/index.css')
    link(rel='stylesheet', href='/style/editToolbar.css')
    link(rel='stylesheet', href='/style/transform_tool.css')

  body
    .content
      
      noscript
        .center.noscriptbox Your javascript seems turned off, if you want beautiful animations please turn it on...
      #skrollr-body(style="width: 1060px;")
        a.anchor(name="top")
        #menu(
          data-0="top: 0px; right: 0px",
          data-end="top: 300px; right: 0px")
          ul
            li 
              a.playBtn(href="#") Top
            li 
              a(href="#about", data-screenName="about") About
            li 
              a(href="#skills", data-screenName="skills") Skills
            li
              a(href="#members", data-screenName="members") Members
            li
              a(href="#contacts", data-screenName="contacts") Contacts
        .camplightLogo(
          data-_landing-0="top-offset: 100px;left: 400px; transform: scale(1)",
          data-_landing-800="top-offset: -1600px;left: 400px; transform: scale(3)")
        .camplightTitle(
          data-_landing-0="top-offset:400px; left: 357px; transform: scale(1)",
          data-_landing-800="top-offset: -600px;left: 400px; transform: scale(5)")
        .star1(
          data-_landing-0="top-offset: 200px;left: 270px",
          data-_landing-3800="top-offset: 560px; left: 270px")
        .star2(
          data-_landing-0="top-offset: 600px;left: 470px",
          data-_landing-3800="top-offset: 540px; left: 470px")
        a.star3(
          href="http://portfolio.camplight.net",
          target="_blank",
          data-_landing-0="top-offset: 400px;left: 770px",
          data-_landing-3800="top-offset: 590px; left: 770px")
        .star4(
          data-_landing-0="top-offset: 100px;left: 470px",
          data-_landing-3800="top-offset: 580px; left: 470px")
        .star2(
          data-_landing-0="top-offset: 200px;left: 170px",
          data-_landing-3800="top-offset: 550px; left: 170px")
        .star3(
          data-_landing-0="top-offset: 700px;left: 570px",
          data-_landing-3800="top-offset: 1090px; left: 570px")
        .planetSaturn(
          data-_landing-0="top-offset: 600px; left: 900px; transform: rotate(-10deg) scale(0.8)",
          data-_landing-380="top-offset: 580px; left: 950px; transform: rotate(0deg) scale(1)",
          data-_landing-530="top-offset: 300px;left: 1020px; transform: rotate(10deg) scale(2)")
        .fallingStar(
          data-_landing-0="top-offset:500px; left: 0px; transform: rotate(0deg) scale(0.8)"
          data-_landing-220="top-offset:400px; left: -150px; transform: rotate(5deg) scale(1)"
          data-_landing-400="top-offset:100px; left: -350px; transform: rotate(10deg) scale(2)")

        a.anchor(name="about")
        #moon(
          data-_about--1037="top-offset:-160px; left: 514px; transform: rotate(15.580089409996113deg) scale(0.1)",
          data-_about-0="top-offset: 100px; left: 308px; transform: rotate(80deg) scale(1)",
          data-_about-95="top-offset:-201px; left: 208px; transform: rotate(100deg) scale(2)")
        .ballonBottom.invisible(
          data-_about--300="top-offset: 1040px; left: 30px; opacity: 0; transform: rotate(-50deg) scale(0)",
          data-_about--14="top-offset:286px; left: 406px; opacity: 1; transform: rotate(0deg) scale(0.9)",
          data-_about-0="top-offset: 280px; left: 396px; opacity: 1; transform: rotate(0deg) scale(1)",
          data-_about-39="top-offset:220px; left: 356px; opacity: 1; transform: rotate(0deg) scale(1.3)",
          data-_about-393="top-offset:130px; left: 101px; opacity: 1; transform: rotate(0deg) scale(1.6)")
          h1 What is camplight
          p Camplight is decentralized software company with flat hierarchy.
        

        .star4(
          data-_about2--385="top-offset:100px; left: 654px;",
          data-_about2-0="top-offset:120px; left: 654px;")        
        .star3(
          data-_about2--385="top-offset:308px; left: 815px;",
          data-_about2-0="top-offset:331px; left: 815px;")        
        .star2(
          data-_about2--385="top-offset:118px; left: 144px;",
          data-_about2-0="top-offset:147px; left: 144px;") 
        .spacestation(
          data-_about2--842="top-offset:0px; left: 585px; transform: rotate(10deg) scale(0.2)",
          data-_about2-0="top-offset: 370px; left: 250px; transform: rotate(0deg) scale(0.5)",
          data-_about2-274="top-offset: 180px; left: 794px; transform: rotate(8deg) scale(1.5)",
          data-_about2-374="top-offset: 80px; left: 994px; transform: rotate(10deg) scale(1.8)")
        .ballonTop.invisible(
          data-_about2--150="top-offset: 200px; left: 190px; opacity: 0; transform: scale(0) rotate(-50deg)",
          data-_about2-0="top-offset: 200px; left: 160px; opacity: 1;  transform: scale(1) rotate(0deg)",
          data-_about2-300="top-offset: -124px; left: 718px; transform: scale(1.3) rotate(0deg)")
          h1 Who is behind Camplight
          p Ordinary good people who came in by their own will. We all love creativity, technologies and awesome team play.
        
        .star4(
          data-_about3--3="top-offset:38px; left: 791px;")        
        .star1(
          data-_about3--3="top-offset:82px; left: 379px;")        
        .star4(
          data-_about3--3="top-offset:362px; left: 90px;")
        .rocket(
          data-_about3--513="top-offset:-15px; left: -487px; transform: rotate(42.55112935802686deg) scale(0.38352013716330247)",
          data-_about3-0="top-offset:220px; left: 227px; transform: rotate(0.06008010680908171deg) scale(0.9993991989319092)",
          data-_about3-246="top-offset:82px; left: 998px; transform: rotate(-19.20561925951033deg) scale(1.2)")
        .ballonBottomLarger.invisible(
          data-_about3--400="opacity: 0; top-offset: 1150px; left: -190px; transform: scale(0) rotate(-20deg)",
          data-_about3-0="opacity: 1; top-offset:  300px; left: 210px; transform: scale(1) rotate(0deg)",
          data-_about3-220="opacity: 0; top-offset: 400px; left: 450px; transform: scale(1.8) rotate(0deg)")
          h1 What is Camplight's mission  
          p To provide a solid self-sustainable organization where people from Earth can do more together.
        
        a.anchor(name="skills")
        .clouds(
          data-_skills--750="top-offset: -200px; left: -430px; transform: scale(1)",
          data-_skills-0="top-offset: 20px; left: -430px; transform: scale(1)",
          data-_skills-750="top-offset: 150px; left: -480px; transform: scale(1.6)")
          .skills()
            for skill in skills
                .skillGroup
                    p= skill.name
                    ul.skillList
                        for skillName in skill.items
                            li.skill= skillName
        .fluffyCloud1(
          data-_skills--958="top-offset:6px; left: 122px; transform: rotate(0deg) scale(0.6)",
          data-_skills-0="top-offset: 80px; left: 120px; transform: rotate(0deg) scale(1)",
          data-_skills-150="top-offset: -200px; left: 0px; transform: rotate(0deg) scale(2)")
          h1 Skills
        .clearfix

        .fluffyCloud1(
          data-_about3-585="top-offset:1464px; left: 593px; transform: rotate(0deg) scale(0.7)",
          data-_skills-0="top-offset: 410px; left: 590px; transform: rotate(0deg) scale(0.9)",
          data-_skills-319="top-offset:195px; left: 1051px; transform: rotate(0deg) scale(2)")
        .balloon(
          data-_skills--267="top-offset:592px; left: 261px; transform: scale(0.5)",
          data-_skills-0="top-offset:411px; left:  32px; transform: scale(1)",
          data-_skills-426="top-offset:74px; left: -445px; transform: scale(2)")

        a.anchor(name="campland")
        .fluffyCloud1(
          data-_campland--1438="top-offset:-259px; left: -12px; transform: rotate(0deg) scale(0.10012383900928801)",
          data-_campland-0="top-offset:10px; left: 49px; transform: rotate(0deg) scale(1.0978297872340428)",)
          h1 Campland
        .mountains2(
          data-_campland--1438="top-offset:-550px; left: -430px; transform: rotate(0deg) scale(1)",
          data-_campland-0="top-offset:131px; left: -430px; transform: rotate(0deg) scale(1)")
        .mountains4(
          data-_campland--1438="top-offset:-291px; left: -430px; transform: rotate(0deg) scale(1)",
          data-_campland-0="top-offset:90px; left: -430px; transform: rotate(0deg) scale(1)")
        .mountains5(
          data-_campland--1438="top-offset:46px; left: -430px; transform: rotate(0deg) scale(1)",
          data-_campland-0="top-offset:187px; left: -430px; transform: rotate(0deg) scale(1)")
        .mountains7(
          data-_campland--1438="top-offset:319px; left: -430px; transform: rotate(0deg) scale(1)",
          data-_campland-0="top-offset:349px; left: -430px; transform: rotate(0deg) scale(1)")
        
        #hut(
          data-_campland--1438="top-offset:363px; left: -22px; transform: rotate(0deg) scale(1)"
          data-_campland-0="top-offset:392px; left: -22px; transform: rotate(0deg) scale(1)")


        .tree1(
          data-_members--300="top-offset:-235px; left: -420px; opacity: 1; transform: rotate(0deg) scale(1,1)",
          data-_members-0="top-offset:-235px; left: -420px; opacity: 1; transform: rotate(0deg) scale(1,1)")
        .tree2(
          data-_members--300="top-offset:-35px; left: -420px; opacity: 1; transform: rotate(0deg) scale(1,1)",
          data-_members-0="top-offset:-35px; left: -420px; opacity: 1; transform: rotate(0deg) scale(1,1)")

        .tree4(
          data-_members--300="top-offset:-235px; left: 1030px; opacity: 1; transform: rotate(0deg) scale(1,1)",
          data-_members-0="top-offset:-235px; left: 1030px; opacity: 1; transform: rotate(0deg) scale(1,1)")
        .tree5(
          data-_members--300="top-offset:-65px; left: 1080px; opacity: 1; transform: rotate(0deg) scale(1,1)",
          data-_members-0="top-offset:-65px; left: 1080px; opacity: 1; transform: rotate(0deg) scale(1,1)")

        .tree7left(
          data-_members--300="top-offset:225px; left: -420px; opacity: 1; transform: rotate(0deg) scale(1,1)",
          data-_members-0="top-offset:225px; left: -420px; opacity: 1; transform: rotate(0deg) scale(1,1)")
        .tree7middle(
          data-_members--300="top-offset:824px; left: -92px; opacity: 1; transform: rotate(0deg) scale(1,1)",
          data-_members-0="top-offset:824px; left: -92px; opacity: 1; transform: rotate(0deg) scale(1,1)")
        .tree7right(
          data-_members--300="top-offset:255px; left: 1178px; opacity: 1; transform: rotate(0deg) scale(1,1)",
          data-_members-0="top-offset:255px; left: 1178px; opacity: 1; transform: rotate(0deg) scale(1,1)")

        a#owl(
          href="http://wisdom.camplight.net", target="_blank", alt="wisdom at camplight",
          data-_members--29="top-offset:438px; left: -115px; transform: rotate(-20.515799194954326deg) scale(1)",
          data-_members-220="top-offset:438px; left: -65px; transform: rotate(0deg) scale(1)")
        .toilet(
          data-_members-0="top-offset:482px; left: 1077px; transform: rotate(0deg) scale(1)")
        
        a.anchor(name="members")
        .whitebackground(
          data-_campland-0="top-offset:700px; left: -430px;")

        .landtree1(
          data-_members--436="top-offset:-277px; left: 964px; transform: rotate(0deg) scale(1)")

        .landtree2(
          data-_members--276="top-offset:-242px; left: 621px; transform: rotate(0deg) scale(1)")

        .landtree3(
          data-_members--276="top-offset:-272px; left: -278px; transform: rotate(0deg) scale(1)")
        
        .camplightLogo(
          data-_members--600="top-offset:535px; left: 400px; opacity: 0; transform: rotate(0deg) scale(0.1,0.1)",
          data-_members--300="top-offset:490px; left: 400px; opacity: 1; transform: rotate(0deg) scale(1, 1)")
        .flameRocks(
          data-_members--600="top-offset:705px; left: 415px; opacity: 0; transform: rotate(0deg) scale(0.1, 0.1)"
          data-_members--300="top-offset:705px; left: 415px; opacity: 1; transform: rotate(0deg) scale(1, 1)")
        a.m1.member(
          data-title="Marta Kostova",
          href="http://bg.linkedin.com/in/martakostova",
          data-_members--100="top-offset:624px; left: 614px; opacity: 0; transform: rotate(0deg) scale(1)",
          data-_members-0="top-offset:614px; left: 583px; opacity: 1; transform: rotate(0deg) scale(1)")
        a.m2.member(
          data-title="Vencislav Bahnev",
          href="http://venhy.webs.com/apps/photos/",
          data-_members--200="top-offset:313px; left: 629px; opacity: 0; transform: rotate(0deg) scale(0.9)",
          data-_members-0="top-offset:337px; left: 574px;  opacity: 1; transform: rotate(0deg) scale(0.9)")
        a.m2.member(
          data-title="Konstantin Kostov",
          data-_members--200="top-offset:313px; left: 629px; opacity: 0; transform: rotate(0deg) scale(0.9)",
          data-_members-0="top-offset:337px; left: 500px;  opacity: 1; transform: rotate(0deg) scale(0.9)")
        a.m3.member(
          data-title="Simeon Mladenov",
          data-_members--120="top-offset:486px; left: 135px; opacity: 0; transform: rotate(0deg) scale(1)",
          data-_members-0="top-offset:490px; left: 179px; opacity: 1; transform: rotate(0deg) scale(1)")
        a.m4.member(
          data-title="Boris Filipov",
          href="http://obi.wizartworx.com/cv/",
          data-_members--100="top-offset:308px; left: 217px; opacity: 0; transform: rotate(0deg) scale(0.9)",
          data-_members-0="top-offset:348px; left: 257px; opacity: 1; transform: rotate(0deg) scale(0.9)")
        a.m12.member(
          data-title="Vitaliy Filipov",
          href="https://coderbits.com/altras",
          data-_members--250="top-offset:268px; left: 426px; opacity: 0; transform: rotate(0deg) scale(0.9)",
          data-_members-0="top-offset:308px; left: 426px; opacity: 1; transform: rotate(0deg) scale(0.9)")
        a.m6.member(
          data-title="Pavel Dobrev",
          data-_members--100="top-offset:489px; left: 703px; opacity: 0; transform: rotate(0deg) scale(1)",
          data-_members-0="top-offset:492px; left: 663px; opacity: 1; transform: rotate(0deg) scale(1)")
        a.m7.member(
          data-title="Todor Panayotov",
          href="http://www.linkedin.com/pub/todor-panayotov/15/131/347",
          data-_members--200="top-offset:623px; left: 223px; opacity: 0; transform: rotate(0deg) scale(1)",
          data-_members-0="top-offset:603px; left: 283px; opacity: 1; transform: rotate(0deg) scale(1)")
          a.m8.member(
          data-title="Miroslava Ilieva",
          href="http://www.linkedin.com/pub/miroslava-ilieva/32/262/500",
          data-_members-0="top-offset:834px; left: 949px; transform: rotate(0deg) scale(1.2)")
        a.m9.member(
          data-title="Mladen Gorchev",
          href="http://www.mladengorchev.com/",
          data-_members-0="top-offset:440px; left: 785px; transform: rotate(0deg) scale(1)")
          a.m10.member(
          data-title="Ivan Kukov",
          href="http://kukov.net/",
          data-_members-0="top-offset:328px; left: 897px; transform: rotate(0deg) scale(1)")
        a.m11.member(
          data-title="Lachezar Todorov",
          href="http://intellisys.info",
          data-_members-0="top-offset:672px; left: 819px; transform: rotate(0deg) scale(1.1)")
        a.m5.member(
          data-title="Tihomil Kulev",
          data-_members-0="top-offset:641px; left: 78px; transform: rotate(0deg) scale(1.1)")
        a.m13.member(
          data-title="Alex Kuklin",
          href="",
          data-_members-0="top-offset:800px; left: 249px; transform: rotate(0deg) scale(1.2)")
        a.m14.member(
          data-title="Veronika Mihaylova",
          href="http://302007698530569041.weebly.com/",
          data-_members-0="top-offset:820px; left: 549px; transform: rotate(0deg) scale(1.2)")
        
        a.anchor(name="contacts")
        .partnersBackground(
          data-_contacts-0="top-offset:-150px; left: -430px; transform: rotate(0deg) scale(1)")
        .parners(
          data-_contacts--400="top-offset: 2560px; left: 150px",
          data-_contacts-0="top-offset: 2660px; left: 150px")
        .map(
          data-_contacts--400="top-offset:50px; left: 88px; opacity: 0; transform: rotate(0deg) scale(0.9)",
          data-_contacts--100="top-offset:50px; left: 88px; opacity: 1; transform: rotate(0deg) scale(1)")
        .mapLabel(
          data-_contacts--100="top-offset:98px; left: 807px; opacity: 0; transform: rotate(0deg) scale(0.9)"
          data-_contacts-0="top-offset:98px; left: 807px; opacity: 1; transform: rotate(0deg) scale(1)")
          h1 Campland

        .compas(
          data-_contacts--100="top-offset:502px; left: 860px; opacity: 0; transform: rotate(0deg) scale(0.8)"
          data-_contacts-0="top-offset:502px; left: 860px; opacity: 1; transform: rotate(0deg) scale(1)")

        a.partner1(
          href="http://shtrak.eu/it/", target="_blank", alt="shtrak.eu",
          data-_contacts--100="top-offset:262px; left: 201px; opacity: 0; transform: rotate(0deg) scale(1)",
          data-_contacts-0="top-offset:262px; left: 201px; opacity: 1; transform: rotate(0deg) scale(1)")
        a.partner2(
          href="http://game-craft.com/", target="_blank", alt="game-craft.com",
          data-_contacts--100="top-offset:452px; left: 617px; opacity: 0; transform: rotate(0deg) scale(1)",
          data-_contacts-0="top-offset:452px; left: 617px; opacity: 1; transform: rotate(0deg) scale(1)")
        a.partner3(
          href="http://sourcerealms.net/", target="_blank", alt="sourcerealms.net",
          data-_contacts--100="top-offset:372px; left: 210px; opacity: 0; transform: rotate(0deg) scale(1)",
          data-_contacts-0="top-offset:372px; left: 210px; opacity: 1; transform: rotate(0deg) scale(1)")
        a.partner4(
          href="http://www.crystalplay.com/", target="_blank", alt="crystalplay.com",
          data-_contacts--100="top-offset:429px; left: 344px; opacity: 0; transform: rotate(0deg) scale(1)",
          data-_contacts-0="top-offset:429px; left: 344px; opacity: 1; transform: rotate(0deg) scale(1)")
        a.partner5(
          href="http://www.3web.bg/", target="_blank", alt="3web.bg",
          data-_contacts--100="top-offset:200px; left: 662px; opacity: 0; transform: rotate(0deg) scale(1)",
          data-_contacts-0="top-offset:200px; left: 662px; opacity: 1; transform: rotate(0deg) scale(1)")
        a.partner6(
          href="http://www.map.bg/", target="_blank", alt="map.bg",
          data-_contacts--100="top-offset:122px; left: 171px; opacity: 0; transform: rotate(0deg) scale(1)",
          data-_contacts-0="top-offset:122px; left: 171px; opacity: 1; transform: rotate(0deg) scale(1)")
        a.partner7(
          href="http://sialo.eu/", target="_blank", alt="sialo.eu",
          data-_contacts--100="top-offset:518px; left: 200px; opacity: 0; transform: rotate(0deg) scale(1)",
          data-_contacts-0="top-offset:518px; left: 200px; opacity: 1; transform: rotate(0deg) scale(1)")

        .pathPeace1(
          data-_contacts--700="top-offset:-219px; left: 381px; opacity: 0; transform: rotate(0deg) scale(0.1)"
          data-_contacts--690="top-offset:-219px; left: 381px; opacity: 1; transform: rotate(0deg) scale(1)")
        .pathPeace2(
          data-_contacts--690="top-offset:-216px; left: 361px; opacity: 0; transform: rotate(0deg) scale(0.1)"
          data-_contacts--680="top-offset:-216px; left: 361px; opacity: 1; transform: rotate(0deg) scale(1)")
        .pathPeace3(
          data-_contacts--680="top-offset:-213px; left: 341px; opacity: 0; transform: rotate(0deg) scale(0.1)"
          data-_contacts--670="top-offset:-213px; left: 341px; opacity: 1; transform: rotate(0deg) scale(1)")
        .pathPeace4(
          data-_contacts--670="top-offset:-210px; left: 319px; opacity: 0; transform: rotate(0deg) scale(0.1)"
          data-_contacts--660="top-offset:-210px; left: 319px; opacity: 1; transform: rotate(0deg) scale(1)")
        .pathPeace5(
          data-_contacts--660="top-offset:-206px; left: 294px; opacity: 0; transform: rotate(0deg) scale(0.1)"
          data-_contacts--650="top-offset:-206px; left: 294px; opacity: 1; transform: rotate(0deg) scale(1)")
        .pathPeace6(
          data-_contacts--650="top-offset:-202px; left: 271px; opacity: 0; transform: rotate(0deg) scale(0.1)"
          data-_contacts--640="top-offset:-202px; left: 271px; opacity: 1; transform: rotate(0deg) scale(1)")
        .pathPeace7(
          data-_contacts--640="top-offset:-198px; left: 244px; opacity: 0; transform: rotate(0deg) scale(0.1)"
          data-_contacts--630="top-offset:-198px; left: 244px; opacity: 1; transform: rotate(0deg) scale(1)")
        .pathPeace8(
          data-_contacts--630="top-offset:-192px; left: 212px; opacity: 0; transform: rotate(0deg) scale(0.1)"
          data-_contacts--620="top-offset:-192px; left: 212px; opacity: 1; transform: rotate(0deg) scale(1)")
        .pathPeace9(
          data-_contacts--620="top-offset:-181px; left: 179px; opacity: 0; transform: rotate(0deg) scale(0.1)"
          data-_contacts--610="top-offset:-181px; left: 179px; opacity: 1; transform: rotate(0deg) scale(1)")
        .pathPeace10(
          data-_contacts--610="top-offset:-167px; left: 146px; opacity: 0; transform: rotate(0deg) scale(0.1)"
          data-_contacts--600="top-offset:-167px; left: 146px; opacity: 1; transform: rotate(0deg) scale(1)")
        .pathPeace11(
          data-_contacts--600="top-offset:-147px; left: 119px; opacity: 0; transform: rotate(0deg) scale(0.1)"
          data-_contacts--580="top-offset:-147px; left: 119px; opacity: 1; transform: rotate(0deg) scale(1)")
        .pathPeace12(
          data-_contacts--580="top-offset:-112px; left: 120px; opacity: 0; transform: rotate(0deg) scale(0.1)"
          data-_contacts--560="top-offset:-112px; left: 120px; opacity: 1; transform: rotate(0deg) scale(1)")
        .pathPeace13(
          data-_contacts--560="top-offset:-98px; left: 138px; opacity: 0; transform: rotate(0deg) scale(0.1)"
          data-_contacts--540="top-offset:-98px; left: 138px; opacity: 1; transform: rotate(0deg) scale(1)")
        .pathPeace14(
          data-_contacts--540="top-offset:-83px; left: 169px; opacity: 0; transform: rotate(0deg) scale(0.1)"
          data-_contacts--510="top-offset:-83px; left: 169px; opacity: 1; transform: rotate(0deg) scale(1)")
        .pathPeace15(
          data-_contacts--510="top-offset:-66px; left: 211px; opacity: 0; transform: rotate(0deg) scale(0.1)"
          data-_contacts--480="top-offset:-66px; left: 211px; opacity: 1; transform: rotate(0deg) scale(1)")
        .pathPeace16(
          data-_contacts--480="top-offset:-52px; left: 260px; opacity: 0; transform: rotate(0deg) scale(0.1)"
          data-_contacts--450="top-offset:-52px; left: 260px; opacity: 1; transform: rotate(0deg) scale(1)")
        .pathPeace17(
          data-_contacts--450="top-offset:-37px; left: 314px; opacity: 0; transform: rotate(0deg) scale(0.1)"
          data-_contacts--420="top-offset:-37px; left: 314px; opacity: 1; transform: rotate(0deg) scale(1)")
        .pathPeace18(
          data-_contacts--420="top-offset:-19px; left: 379px; opacity: 0; transform: rotate(0deg) scale(0.1)"
          data-_contacts--360="top-offset:-19px; left: 379px; opacity: 1; transform: rotate(0deg) scale(1)")
        .pathPeace19(
          data-_contacts--380="top-offset:4px; left: 449px; opacity: 0; transform: rotate(0deg) scale(0.1)"
          data-_contacts--320="top-offset:4px; left: 449px; opacity: 1; transform: rotate(0deg) scale(1)")
        .pathPeace20(
          data-_contacts--320="top-offset:41px; left: 519px; opacity: 0; transform: rotate(0deg) scale(0.1)"
          data-_contacts--260="top-offset:41px; left: 519px; opacity: 1; transform: rotate(0deg) scale(1)")
        .pathPeace21(
          data-_contacts--260="top-offset:119px; left: 531px; opacity: 0; transform: rotate(0deg) scale(0.1)"
          data-_contacts--180="top-offset:119px; left: 531px; opacity: 1; transform: rotate(0deg) scale(1)")
        .pathPeace22(
          data-_contacts--180="top-offset:176px; left: 480px; opacity: 0; transform: rotate(0deg) scale(0.1)"
          data-_contacts--100="top-offset:176px; left: 480px; opacity: 1; transform: rotate(0deg) scale(1)")
        
        a.pathCross.contactBtn(
          href="mailto: team@camplight.net", alt="team@camplight.net", target="_blank",
          data-_contacts--100="top-offset:213px; left: 392px; opacity: 0; transform: rotate(0deg) scale(2)"
          data-_contacts-0="top-offset:213px; left: 392px; opacity: 1; transform: rotate(0deg) scale(1)")
          .contactUsLabel team@camplight.net

        .footer(
          data-_contacts-0="top-offset:664px; left: 146px; transform: rotate(0deg) scale(1)")
          ul
            //
              li blog
              li wisdom
              li showreel
            li 
              a(href="http://twitter.com/campenlightment") twitter
            li 
              a(href="http://facebook.com/camplight") facebook
            li 
              a(href="http://github.com/camplight") github
        .camplightCopyright(
          data-_contacts-0="top-offset:649px; left: 813px; transform: rotate(0deg) scale(1)")
          | © 2011-2013 Camplight Ltd.
        .shareButtons(
          data-_contacts-0="top-offset:720px; left: 143px; transform: rotate(0deg) scale(1)")
          .tweetBtn.btn.offset100
            include ../page-partials/twitterButton
          .fbBtn.btn
            include ../page-partials/fbButton
          .gPlusBtn.btn
            include ../page-partials/gPlusButton
        .tooltip
          .title