!!! 5
html
  head
    title Camplight Ltd.
    meta(charset='utf-8')
    meta(name='copyright', content='Camplight Ltd.')
    meta(name='author', content='Camplight')
    meta(name='keywords', content='open,source,company,software,hardware,freeware,technologies,freelancers,team,camplight')
    meta(name='description', content='Software and Hardware development company made by people for people')
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
    link(rel='author', href='humans.txt')
    link(rel='shortcut icon', href='favicon.ico')

    link(rel='stylesheet', href='/style/jquery/jquery-ui.css')
    link(rel='stylesheet', href='/style/index.css')
    link(rel='stylesheet', href='/style/editToolbar.css')

    script(src="/js/jade.js")
    script(src="/code.js")

  body
    .content
      #skrollr-body(style="width: 1060px")
        #menu(
          data-0="top: 0px; right: 0px",
          data-end="top: 300px; right: 0px")
          ul
            li 
              a(href="#", data-screenIndex="0") start
            li 
              a(href="#about", data-screenIndex="1") About
            li 
              a(href="#skills", data-screenIndex="4") Skills
            li
              a(href="#members", data-screenIndex="5") Members
            li
              a(href="#partners", data-screenIndex="6") Partners
        .camplightLogo(
          data-_landing-0="top-offset: 100px;left: 400px; transform: scale(1)",
          data-_landing-800="top-offset: -1600px;left: 400px; transform: scale(3)")
        .camplightTitle(
          data-_landing-0="top-offset: 400px;left: 370px; transform: scale(1)",
          data-_landing-800="top-offset: -600px;left: 400px; transform: scale(5)")
        .star1(
          data-_landing-0="top-offset: 200px;left: 270px",
          data-_landing-3800="top-offset: 560px; left: 270px")
        .star2(
          data-_landing-0="top-offset: 600px;left: 470px",
          data-_landing-3800="top-offset: 540px; left: 470px")
        .star3(
          data-_landing-0="top-offset: 400px;left: 770px",
          data-_landing-3800="top-offset: 590px; left: 770px")
        .star4(
          data-_landing-0="top-offset: 100px;left: 470px",
          data-_landing-3800="top-offset: 580px; left: 470px")
        .star2(
          data-_landing-0="top-offset: 200px;left: 170px",
          data-_landing-3800="top-offset: 550px; left: 170px")
        .star3(
          data-_landing-0="top-offset: 700px;left: 570px",
          data-_landing-3800="top-offset: 1090px; left: 570px")
        .planetSaturn(
          data-_landing-0="top-offset: 600px; left: 900px; transform: rotate(-10deg) scale(0.8)",
          data-_landing-380="top-offset: 580px; left: 950px; transform: rotate(0deg) scale(1)",
          data-_landing-530="top-offset: 300px;left: 1020px; transform: rotate(10deg) scale(2)")
        .fallingStar(
          data-_landing-0="top-offset:500px; left: 0px; transform: rotate(0deg) scale(0.8)"
          data-_landing-220="top-offset:400px; left: -150px; transform: rotate(5deg) scale(1)"
          data-_landing-400="top-offset:100px; left: -350px; transform: rotate(10deg) scale(2)")


        .moonWithAstronaft(
          data-_about--359="top-offset:53px; left: 408px; transform: rotate(50deg) scale(0.1)",
          data-_about--92="top-offset:222px; left: 408px; transform: rotate(50deg) scale(0.6)",
          data-_about-0="top-offset: 100px; left: 308px; transform: rotate(80deg) scale(1)",
          data-_about-95="top-offset:-201px; left: 208px; transform: rotate(100deg) scale(2)")
        .ballonBottom.invisible(
          data-_about--300="top-offset: 1040px; left: 30px; opacity: 0; transform: rotate(-50deg) scale(0)",
          data-_about--14="top-offset:286px; left: 406px; opacity: 1; transform: rotate(0deg) scale(0.9)",
          data-_about-0="top-offset: 280px; left: 396px; opacity: 1; transform: rotate(0deg) scale(1)",
          data-_about-39="top-offset:220px; left: 356px; opacity: 1; transform: rotate(0deg) scale(1.3)",
          data-_about-393="top-offset:130px; left: 101px; opacity: 1; transform: rotate(0deg) scale(1.6)")
          h1 What is camplight
          p Camplight is international decentralized 'open' company
        

        .star4(
          data-_about2--385="top-offset:100px; left: 654px;",
          data-_about2-0="top-offset:120px; left: 654px;")        
        .star3(
          data-_about2--385="top-offset:308px; left: 815px;",
          data-_about2-0="top-offset:331px; left: 815px;")        
        .star2(
          data-_about2--385="top-offset:118px; left: 144px;",
          data-_about2-0="top-offset:147px; left: 144px;") 
        .spacestation(
          data-_about2--842="top-offset:0px; left: 585px; transform: rotate(10deg) scale(0.2)",
          data-_about2-0="top-offset: 370px; left: 250px; transform: rotate(0deg) scale(0.5)",
          data-_about2-274="top-offset: 180px; left: 794px; transform: rotate(8deg) scale(1.5)",
          data-_about2-374="top-offset: 80px; left: 994px; transform: rotate(10deg) scale(1.8)")
        .ballonTop.invisible(
          data-_about2--150="top-offset: 200px; left: 190px; opacity: 0; transform: scale(0) rotate(-50deg)",
          data-_about2-0="top-offset: 200px; left: 160px; opacity: 1;  transform: scale(1) rotate(0deg)",
          data-_about2-300="top-offset: -124px; left: 718px; transform: scale(1.3) rotate(0deg)")
          h1 Who is behind Camplight
          p Ordinary people. Good people. Great craftsmans and superb team players.
        
        .star4(
          data-_about3--3="top-offset:38px; left: 791px;")        
        .star1(
          data-_about3--3="top-offset:82px; left: 379px;")        
        .star4(
          data-_about3--3="top-offset:362px; left: 90px;")
        .rocketContainer(
            data-_about3--291="top-offset:-207px; left: -257px; transform: scale(0.1) rotate(90deg)",
            data-_about3-0="top-offset:  260px; left: 160px; transform: scale(1) rotate(0)",
            data-_about3-200="top-offset: 465px; left: -60px; transform: scale(1.2) rotate(10deg)")
          .rocket(
            data-_about3--100="top: -22px; right: 105px; transform: scale(1) rotate(-10deg)",
            data-_about3-0="top: -22px; right: 105px; transform: scale(1) rotate(-10deg)",
            data-_about3-220="top: -796px; right: -1200px; transform: scale(1.6) rotate(-50deg)")
        .ballonBottomLarger.invisible(
          data-_about3--400="opacity: 0; top-offset: 1150px; left: -190px; transform: scale(0) rotate(-20deg)",
          data-_about3-0="opacity: 1; top-offset:  300px; left: 210px; transform: scale(1) rotate(0deg)",
          data-_about3-220="opacity: 0; top-offset: 400px; left: 450px; transform: scale(1.8) rotate(0deg)")
          h1 What is Camplight's mission  
          p To provide a solid self-sustainable medium for enjoing life on Earth today and in the future
        
        .clouds(
          data-_skills--750="top-offset: -200px; left: -430px; transform: scale(1)",
          data-_skills-0="top-offset: 20px; left: -430px; transform: scale(1)",
          data-_skills-750="top-offset: 150px; left: -480px; transform: scale(1.6)")
          .skills()
            for skill in skills
                .skillGroup
                    p= skill.name
                    ul.skillList
                        for skillName in skill.items
                            li.skill= skillName
        .fluffyCloud1(
          data-_skills--750="top-offset: -50px; left: -10px; transform: scale(0.6)",
          data-_skills-0="top-offset: 80px; left: 120px; transform: scale(1)",
          data-_skills-150="top-offset: -200px; left: 0px; transform: scale(2)")
          h1 Skills
        .clearfix

        .fluffyCloud1(
          data-_skills--150="top-offset: 470px; left: 520px; transform: scale(0.7)",
          data-_skills-0="top-offset: 410px; left: 590px; transform: scale(0.9)",
          data-_skills-319="top-offset:195px; left: 1051px; transform: scale(2)")
        .balloon(
          data-_skills--267="top-offset:592px; left: 261px; transform: scale(0.5)",
          data-_skills-0="top-offset:411px; left:  32px; transform: scale(1)",
          data-_skills-426="top-offset:74px; left: -445px; transform: scale(2)")

        .fluffyCloud1(
          data-_members--1003="top-offset:-325px; left: -378px;  transform: scale(0.1)",
          data-_members--469="top-offset:-374px; left: -85.10000610351562px; transform: scale(0.5)",
          data-_members-0="top-offset: 20px; left: 60px; transform: scale(1.1)")
          h1 Campland
        .mountains1(
          data-_members--579="top-offset:-175px;",
          data-_members-0="top-offset: 230px; left: -430px")
        .mountains2(
          data-_members--739="top-offset:-48px;",
          data-_members-0="top-offset: 240px; left: -430px")
        .mountains3(
          data-_members--739="top-offset:128px;",
          data-_members-0="top-offset: 260px; left: -430px")
        .mountains4(
          data-_members--739="top-offset:139px;",
          data-_members-0="top-offset: 270px; left: -430px")
        .mountains5(
          data-_members--739="top-offset:277px; left: -538px;",
          data-_members-0="top-offset:313px; left: -538px;")
        .mountains6(
          data-_members-0="top-offset: 290px; left: -430px")
        .mountains7(
          data-_members-0="top-offset: 300px; left: -430px")

        .members(
          data-_members-0="top-offset:576px; left: -112px;")
          ul.memberList
              for member in members
                  li.member= member.name
        .clearfix

        .parners(
          data-_partners--400="top-offset: 2560px; left: 150px",
          data-_partners-0="top-offset: 2660px; left: 150px")
          ul.memberList
              for member in members
                  li.member= member.name
        .clearfix