!!! 5
html
  head
    title CampLight Ltd.
    meta(charset='utf-8')
    meta(name='copyright', content='Camplight Ltd.')
    meta(name='author', content='Camplight')
    meta(name='keywords', content='open,source,company,software,hardware,freeware,technologies,freelancers,team,camplight')
    meta(name='description', content='Software and Hardware development company made by people for people')
    link(rel='author', href='humans.txt')
    link(rel='stylesheet', href='css/camplight.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Maven+Pro:400,500,700')
    link(rel='shortcut icon', href='favicon.ico')
    script(src='js/ga.js')
  body
    #header
      .wrap
        h1#logo
          | CampLight
    #skills
      .wrap
        ul
          li.area
            h2 Frontend
            ul
              li HTML 5
              li CSS 3
              li Javascript
              li Flash/Flex
          li.area
            h2 Backend
            ul
              li Node.js
              li Ruby
              li Python
              li Java
              li PHP
          li.area
            h2 Database
            ul
              li SQL
              li MongoDB
              li CouchDB
              li Redis
              li Neo4j
          li.area
            h2 Mobile
            ul
              li iOS/Objective C
              li Android
              li AS3/Flash/Air
              li J2ME
          li.area
            h2 Desktop
            ul
              li Java
              li C#
              li C++
              li AS3/Air
          li.area
            h2 Design
            ul
              li Web
              li Identity
              li Print
              li Illustration
          li.area
            h2 Linux
            ul
              li System Administration
              li Optimization
    #team
      .wrap
        h2 Team
        ul
          each member in members
            li.vcard
              h3.fn= member.name
              span.role= member.role
    #bottom
      .wrap
        #partners
          ul
            li.gamecraft
              a(href='http://game-craft.com/', rel='co-worker', target='_blank') GameCraft
            li.shtrak
              a(href='http://shtrak.eu/it', rel='co-worker', target='_blank') Shtrak!
            li.sourcerealms
              a(href='http://sourcerealms.net/', rel='co-worker', target='_blank') Source Realms
            li.crystalplay
              a(href='http://crystalplay.com/', rel='co-worker', target='_blank') Crystal Play
        #about
          ul
            li
              a(href='http://twitter.com/campenlightment', target='_blank', rel='me') twitter
            li
              a(href='http://facebook.com/camplight', target='_blank', rel='me') facebook
            li
              a(href='http://github.com/camplight', target='_blank', rel='me') github
            li.mail
              script
                function escramble(){
                var a,b,c,d,e,f,g,h,i
                a='<a href=\\"mai'
                b='team'
                c='\\">'
                a+='lto:'
                b+='@'
                e='</a>'
                f='team @ camplight.net'
                b+='camplight.net'
                g='<img src=\\"'
                h=''
                i='\\" alt="Email us." border="0">'
                if (f) d=f
                else if (h) d=g+h+i
                else d=b
                document.write(a+b+c+d+e)
                }
                escramble()
    #footer
      #wrap
        p.copy
          | © 2011-2012 CampLight Ltd.
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js', type='text/javascript')
    script
      $(document).ready(function(){
      $("#header .wrap").html($("#animatedLogoTemplate").html());
      $(".logoTop").animate({ opacity: "1", top: "20px" }, 600);
      $(".logoShadow").animate({ opacity: "1" }, 600);
      $(".logoCamplightText").delay(800).animate({ opacity: "1" }, 600);
      });
    script#animatedLogoTemplate(type='xml/html-temaplte')
      <div class="logo">
      <img class="logoTop" src="images/animatedLogo/icon.png"></img>
      <img class="logoShadow" src="images/animatedLogo/shadow.png"></img>
      <img class="logoCamplightText" src="images/animatedLogo/camplight.png"></img>
      </div>
